@{
    ViewData["Title"] = SharedLocalizer.Home;
}

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Link to your JavaScript file -->
<script src="~/js/site.js"></script>

<div class="text-center">
    <h1 class="display-4">@SharedLocalizer.Welcome</h1>
    <p>@SharedLocalizer["Learn about building Web apps with ASP.NET Core"]</p>

    <h4 class="mt-4">@SharedLocalizer["Root Modules Table"]</h4>

    <!-- Table to display root modules -->
    <table id="rootModulesTable" class="table table-bordered" style="width: 60%; margin: 0 auto;">
        <thead>
            <tr>
                <th>@SharedLocalizer.RootCode</th>
                <th>@SharedLocalizer.RootName</th>
                <th>@SharedLocalizer.RootPhone</th>
                <th>@SharedLocalizer.RootOwner</th>
                <th>@SharedLocalizer.IsCenter</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data rows will be inserted here dynamically -->
        </tbody>
    </table>
</div>
