@using Microsoft.Extensions.Localization
@using centrny.Resources
@using centrny.Controllers
@inject IStringLocalizer<centrny.Controllers.HomeController> HomeLocalizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = HomeLocalizer["Welcome"];
}

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Link to your JavaScript file -->
<script src="~/js/site.js"></script>

<div class="text-center">
    <h1 class="display-4">@HomeLocalizer["WelcomeMessage"]</h1>
    <p>@HomeLocalizer["Overview"] - <a href="https://learn.microsoft.com/aspnet/core">Centrny Educational Management System</a>.</p>

    <h4 class="mt-4">@SharedLocalizer["Roots"] @HomeLocalizer["Statistics"]</h4>

    <!-- Table to display root modules -->
    <table id="rootModulesTable" class="table table-bordered" style="width: 60%; margin: 0 auto;">
        <thead>
            <tr>
                <th>Root Code</th>
                <th>Root @SharedLocalizer["Name"]</th>
                <th>Root Phone</th>
                <th>Root Owner</th>
                <th>Is Center</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data rows will be inserted here dynamically -->
        </tbody>
    </table>
</div>
